<div
  id="movies-container"
  class="relative w-full max-w-7xl mx-auto py-10 text-white border-b-2 border-gray-700"
>
  <p class="text-2xl text-yellow-500 font-bold">Top Movies</p>
  <div class="text-white flex items-center gap-2 text-lg my-2">
    <p class="border-l-2 border-yellow-500 px-4 font-bold">Top 10 Movies</p>
    <i class="fas fa-chevron-right hover:text-yellow-500"></i>
  </div>
  <div
    id="movies-list"
    class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"
  >
    <% movies.forEach(movie=> { %>
    <div
      class="flex flex-col items-center bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-all duration-300"
    >
      <img
        src="<%= movie.image_url %>"
        alt="<%= movie.title %>"
        class="w-[95%] h-[60%] object-cover object-center"
      />
      <div class="flex flex-col w-full p-2 gap-1 justify-between h-[40%]">
        <p class="text-base font-semibold text-white"><%= movie.title %></p>
        <div class="flex flex-col w-full justify-between">
          <div class="flex w-full gap-2 justify-between text-yellow-500">
            <div class="flex items-center">
              <i class="fas fa-star"></i>
              <div class="ml-2 font-bold text-lg">
                <p><%= (movie.rating || 0).toFixed(1) %> / 5.0</p>
              </div>
            </div>
            <div class="flex items-center">
              <i class="fas fa-users"></i>
              <div class="ml-2 font-bold text-lg">
                <p><%= movie.reviews_count %></p>
              </div>
            </div>
          </div>
          <p class="text-gray-400 text-sm">
            Reviews:
            <span class="font-semibold text-white">
              <%= movie.comments_count %>
            </span>
          </p>
        </div>
        <div class="text-gray-300 text-sm">
          <p class="flex justify-between">
            <strong>Genre:</strong><span> <%= movie.genre %> </span>
          </p>
          <p class="flex justify-between">
            <strong>Duration:</strong
            ><span>
              <% var hours=Math.floor(movie.duration / 60); var
              minutes=movie.duration % 60; %> <%= hours + "h " + minutes + "m"
              %>
            </span>
          </p>
          <p class="flex justify-between">
            <strong>Author:</strong><span> <%= movie.author %> </span>
          </p>
          <p class="flex justify-between">
            <strong>Year:</strong><span> <%= movie.release_year %> </span>
          </p>
        </div>
        <a
          href="/movies/<%- movie.id%>"
          class="flex items-center justify-between w-full text-sm border rounded border-gray-700 hover:bg-gray-700 p-2"
        >
          <p>More Info</p>
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</div>
